$offset: 20px;
$columns: 8;
$columnWidth: calc((100vw - (2 * #{$offset})) / #{$columns});

$color-black: #121212;
$color-white: #FFFFFF;
$color-orange-accent: #FFA201;
$color-orange-neutral: #FFC766;
$color-orange-light: #FFECCC;

$animate-slow-fast: cubic-bezier(.5,.1,.9,.5);
$animate-fast-slow: cubic-bezier(.1,.5,.5,.9);
$animate-ease: cubic-bezier(.5,.1,.5,.9);